<!DOCTYPE html>
<html>
<head>
  <title>Past Transfers</title>
  <style>
    .table-container {
      display: flex;
      justify-content: center;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
<link rel="stylesheet" href="../Styling/styles.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="../editProfile.html"><img src="../Assets/profile.png" alt="profile!"></a>
        <a href="../DashBoards/ClientDash.html" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="container">
        <div id="sidebar">
            <ul>
                <li><a href="/src/DashBoards/ClientDash.html">Home</a></li>
                <li><a href="/src/DashBoards/ClientDash.html">Accounts</a></li>
                <li><a href="/src/DashBoards/PaymentsDash.html">Transactions</a></li>
                <li><a href="/src/DashBoards/PaymentsDash.html">Payments</a></li>
                <li><a href="/src/DashBoards/Settings.html">Settings</a></li>
                <li><a href="/src/DashBoards/Settings.html">Contact Us</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="logo">
              <div class="table-container">
                <table>
                        <tr>
                            <th>Transfer ID</th>
                            <th>Date</th>
                            <th>Account From</th>
                            <th>Account To</th>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                  <tr>
                    <td>T1</td>
                    <td>12/3/2020</td>
                    <td>1509628743</td>
                    <td>9876413444</td>
                    <td>300</td>
                    <td>Domestic</td>
                  </tr>
                  <tr>
                      <td>T2</td>
                    <td>17/11/2020</td>
                    <td>1509628743</td>
                    <td>1578902345</td>
                    <td>10000</td>
                    <td>Internal</td>
                  </tr>
                  <tr>
                      <td>T3</td>
                    <td>21/3/2021</td>
                    <td>1578902345</td>
                    <td>8765444567</td>
                    <td>3000</td>
                    <td>International</td>
                    </tr>
                    <tr>
                      <td>T4</td>
                      <td>25/4/2021</td>
                      <td>1578902345</td>
                      <td>1542689875</td>
                      <td>600</td>
                      <td>Domestic</td>
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
