<!DOCTYPE html>
<html>
<head>
  <title>Past Transfers</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>Past Transfers</th>
    </tr>
    <tr>
      <td>  Column 1</td>
      <td>  Column 2</td>
      <td>  Column 3</td>
      <td>  Column 4</td>
      <td>  Column 5</td>
      <td>  Column 6</td>
      <td>  Column 7</td>
    </tr>
    <tr>
        <td>  Column 1</td>
      <td>  Column 2</td>
      <td>  Column 3</td>
      <td>  Column 4</td>
      <td>  Column 5</td>
      <td>  Column 6</td>
      <td>  Column 7</td>
    </tr>
    <tr>
        <td>  Column 1</td>
      <td>  Column 2</td>
      <td>  Column 3</td>
      <td>  Column 4</td>
      <td>  Column 5</td>
      <td>  Column 6</td>
      <td>  Column 7</td>
      </tr>
      <tr>
        <td>  Column 1</td>
        <td>  Column 2</td>
        <td>  Column 3</td>
        <td>  Column 4</td>
        <td>  Column 5</td>
        <td>  Column 6</td>
        <td>  Column 7</td>
      </tr>
  </table>
</body>
</html>
