<!DOCTYPE html>
<html>
<head>
  <title>Past Transfers</title>
 
<link rel="stylesheet" href="../Styling/styles.css">
<style>
  .table-container {
    display: flex;
    justify-content: center;
    width: 475px;
  }
  #logo{
    width: 475px;
  padding-right: 0px;
  /* height: 412.85px; */
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0px;
  }
  table {
    border-collapse: collapse;
    width: 200%;
    /* background-color: aqua; */
  }
  
  th, td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    text-align: left;
    width: 220%;
  }
  
  th {
    background-color: #f2f2f2;
  }
</style>
</head>

<body>
  <div class="topNav" id="myTopnav">
    <div class="Logo">
        <a href="../DashBoards/ClientDash.html"> <img src="../Assets/transparent bg.png" alt="Logo!"></a>
    </div>
    <div class="options">
      <a href="/src/DashBoards/ClientDash.html"><img id="back" src="/src/assets/left-chevron.png" alt="back"></a>
        <a href="../DashBoards/currency.html">Currency Exchange</a>
        <a href="../DashBoards/FAQ.html">FAQs</a>
        <a href="../DashBoards/ContactUs.html">Contact Us</a>

        <a href="../DashBoards/ClientDash.html" class="active">Home</a>
        <a href="../DashBoards/homePage.html">Logout</a>

        <!-- <div class="notification-dropdown" onclick="toggleNotificationList()">
            <img src="../assets/notif.png" alt="Notification Bell" class="notification-bell">
            <ul id="notificationList" class="notification-list">
                <li class="notification-list-item">Welcome to HOLMS!</li>
                <li class="notification-list-item">Payment due in 10 days</li>
                <li class="notification-list-item">Salary has been received!</li>
            </ul>
        </div> -->

        <a href="../editProfile.html"><img src="../Assets/profile.png" alt="profile!"></a>
       
    </div>

   
</div>


<div class="container">
    <div id="sidebar">
      <ul>
        <a href="../DashBoards/ClientDash.html">
            <li>Home</li>
        </a>
        <li><a href="../Views/ViewAccounts.html">Accounts</a></li>
        <li><a href="../Transfers/Transfers.html">Transfers</a></li>
        <li><a href="../DashBoards/PaymentsDash.html">Payments</a></li>
        <li><a href="../DashBoards/Settings.html">Settings</a></li>
    </ul>
    </div>
        <div id="content">
            <div id="logo">
              <h3> Basic Details</h3>
              <div class="table-container">
                <table>
                  <tr>
                      <th>Customer ID</th>
                      <th>IBAN</th>
                      <th>Account Status</th>
                      <th>Opening Date</th>
                    </tr>
                    <tr>
                        <td>3049028748</td>
                        <td>EG1234909890989</td>
                        <td>Active</td>
                        <td>19/2/2019</td>
                      </tr>
                      
                </table>
              </div>
              <h3> Balance Details</h3>
              <div class="table-container">
                <table>
                  <tr>
                      <th>Available Balance</th>
                      <th>Amount on Hold</th>
                      <th>Unclear Funds</th>
                      <th>Overdraft Limit</th>
                    </tr>
                    <tr>
                        <td>EGP0.00</td>
                        <td>EGP0.00</td>
                        <td>EGP0.00</td>
                        <td>EGP0.00</td>
                        
                      </tr>
                     
                </table>
              </div>
            </div>
        </div>
    </div>
</body>
</html>