<!DOCTYPE html>
<html>
<head>
  <title>Past Transfers</title>
  <style>
    .table-container {
      display: flex;
      justify-content: center;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
<link rel="stylesheet" href="../Styling/styles.css">
</head>

<body>
  <div class="topNav" id="myTopnav">
    <div class="Logo">
        <a href="../DashBoards/ClientDash.html"> <img src="../Assets/transparent bg.png" alt="Logo!"></a>
    </div>
    <div class="options">
        <a href="../DashBoards/currency.html">Currency Exchange</a>
        <a href="../DashBoards/FAQ.html">FAQs</a>
        <a href="../DashBoards/ContactUs.html">Contact Us</a>

        <a href="../DashBoards/ClientDash.html" class="active">Home</a>
        <a href="../DashBoards/homePage.html">Logout</a>

        <!-- <div class="notification-dropdown" onclick="toggleNotificationList()">
            <img src="../assets/notif.png" alt="Notification Bell" class="notification-bell">
            <ul id="notificationList" class="notification-list">
                <li class="notification-list-item">Welcome to HOLMS!</li>
                <li class="notification-list-item">Payment due in 10 days</li>
                <li class="notification-list-item">Salary has been received!</li>
            </ul>
        </div> -->

        <a href="../editProfile.html"><img src="../Assets/profile.png" alt="profile!"></a>
       
    </div>

   
</div>


<div class="container">
    <div id="sidebar">
        <ul>
            <a href="../DashBoards/ClientDash.html">
                <li>Home</li>
            </a>
            <li><a href="../DashBoards/myAccounts.html">Accounts</a></li>
            <li><a href="../Transfers/Transfers.html">Transfers</a></li>
            <li><a href="../DashBoards/PaymentsDash.html">Payments</a></li>
            <li><a href="../DashBoards/Settings.html">Settings</a></li>
        </ul>
    </div>
        <div id="content">
            <div id="logo">
              <div class="table-container">
                <table>
                        <tr>
                            <th>Transfer ID</th>
                            <th>Date</th>
                            <th>Account From</th>
                            <th>Account To</th>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                  <tr>
                    <td>T1</td>
                    <td>12/3/2020</td>
                    <td>1509628743</td>
                    <td>9876413444</td>
                    <td>300</td>
                    <td>Domestic</td>
                  </tr>
                  <tr>
                      <td>T2</td>
                    <td>17/11/2020</td>
                    <td>1509628743</td>
                    <td>1578902345</td>
                    <td>10000</td>
                    <td>Internal</td>
                  </tr>
                  <tr>
                      <td>T3</td>
                    <td>21/3/2021</td>
                    <td>1578902345</td>
                    <td>8765444567</td>
                    <td>3000</td>
                    <td>International</td>
                    </tr>
                    <tr>
                      <td>T4</td>
                      <td>25/4/2021</td>
                      <td>1578902345</td>
                      <td>1542689875</td>
                      <td>600</td>
                      <td>Domestic</td>
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
