<!DOCTYPE html>
<html>
<head>
  <title>Past Transfers</title>
  <style>
    .table-container {
      display: flex;
      justify-content: center;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
<link rel="stylesheet" href="../Styling/styles.css">
</head>

<body>
  <div class="topNav" id="myTopnav">
    <div class="Logo">
        <a href="../DashBoards/ClientDash.html"> <img src="../Assets/transparent bg.png" alt="Logo!"></a>
    </div>
    <div class="options">
      <a href="/src/DashBoards/ClientDash.html"><img id="back" src="/src/assets/left-chevron.png" alt="back"></a>
        <a href="../DashBoards/currency.html">Currency Exchange</a>
        <a href="../DashBoards/FAQ.html">FAQs</a>
        <a href="../DashBoards/ContactUs.html">Contact Us</a>

        <a href="../DashBoards/ClientDash.html" class="active">Home</a>
        <a href="../DashBoards/homePage.html">Logout</a>

        <!-- <div class="notification-dropdown" onclick="toggleNotificationList()">
            <img src="../assets/notif.png" alt="Notification Bell" class="notification-bell">
            <ul id="notificationList" class="notification-list">
                <li class="notification-list-item">Welcome to HOLMS!</li>
                <li class="notification-list-item">Payment due in 10 days</li>
                <li class="notification-list-item">Salary has been received!</li>
            </ul>
        </div> -->

        <a href="../editProfile.html"><img src="../Assets/profile.png" alt="profile!"></a>
       
    </div>

   
</div>


<div class="container">
    <div id="sidebar">
      <ul>
        <a href="../DashBoards/ClientDash.html">
            <li>Home</li>
        </a>
        <li><a href="../Views/ViewAccounts.html">Accounts</a></li>
        <li><a href="../Transfers/Transfers.html">Transfers</a></li>
        <li><a href="../DashBoards/PaymentsDash.html">Payments</a></li>
        <li><a href="../DashBoards/Settings.html">Settings</a></li>
    </ul>
    </div>
        <div id="content">
            <div id="logo">
              <div class="table-container">
                <table>
                  <tr>
                      <th>Loan Number</th>
                      <th>Date Applied</th>
                      <th>Date Accepted/Rejected</th>
                      <th>Status</th>
                      <th>Amount</th>
                    </tr>
                  <tr>
                    <td>L1987</td>
                    <td>12/1/2022</td>
                    <td>16/1/2022</td>
                    <td>Rejected</td>
                    <td>100000</td>
                  </tr>
                  <tr>
                      <td>L4569</td>
                    <td>17/4/2023</td>
                    <td>24/4/2023</td>
                    <td>Accepted</td>
                    <td>25000</td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
</body>
</html>