h2{
    margin-left: 80px;
    /*
   margin-top: 190px;
   margin-right: 200px; */
  }
  #transfer{
   margin-left: 80px;
   overflow: hidden;
   padding-bottom: 2.5%;
   width: fit-content;
   padding: 0px;
  }
  .row{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
   }
  .column img{
   margin-bottom: 30px;
   margin-right: 20px;
     width: 100%;
     height:auto;
     

   }
   .column{
     flex: 1;
   }
   .form-control {
           width: 100%;
           padding: 10px;
           border: 1px solid #ccc;
           border-radius: 5px;
           margin-bottom: 15px;
           font-size: 16px;
       }

       .form-label {
           font-weight: bold;
           color: #1a2840;
           align-self: start;
       }

       .form-text {
           color: #6c757d;
       }

       .btn-primary {
           background-color: #223656;
           color: white;
           padding: 10px 20px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           font-size: 16px;
       }

       .btn-primary:hover {
           background-color: #1a2840;
       }
       #message{
         width: 409.398px;
         height: 100px;
       }
       #name,#message,#email{
         border-radius: 15px;
       }
