.home-container {
  font: unset;
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.home-title {
  top: 9px;
  font: Lucida Sans;
  left: 10px;
  color: rgb(120, 162, 204);
  position: absolute;
  font-size: 80px;
  align-self: flex-start;
  box-shadow: rgb(212, 212, 212) 0px 0px 0px 0px;
  font-family: sans-serif;
}
.home-transactions {
  top: 150px;
  flex: 0 0 auto;
  left: 20px;
  width: 350px;
  height: 550px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #78a2cc;
}
.home-button {
  top: 150px;
  color: #35455d;
  right: 25px;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button01 {
  left: 25px;
  color: #35455d;
  width: 300px;
  bottom: 52px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button02 {
  top: 375px;
  left: 25px;
  color: #35455d;
  width: 300px;
  bottom: 25px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button03 {
  top: 300px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button04 {
  top: 225px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-text {
  top: 50px;
  left: 45px;
  color: #35455d;
  bottom: 50px;
  height: 50px;
  position: absolute;
  font-size: 40px;
  align-self: center;
}
.home-credit-card {
  top: 150px;
  flex: 0 0 auto;
  left: 390px;
  width: 350px;
  height: 550px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #78a2cc;
}
.home-text04 {
  top: 48px;
  left: 57px;
  color: #35455d;
  width: 235;
  height: 50px;
  position: absolute;
  font-size: 40px;
  align-self: center;
}
.home-button05 {
  top: 150px;
  color: #35455d;
  right: 25px;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button06 {
  top: 300px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button07 {
  top: 225px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-container1 {
  top: 150px;
  flex: 0 0 auto;
  right: 20px;
  width: 350px;
  height: 550px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #78a2cc;
}
.home-text05 {
  top: 50px;
  left: 59px;
  color: #35455d;
  bottom: 50px;
  height: 50px;
  position: absolute;
  font-size: 40px;
  align-self: center;
}
.home-button08 {
  top: 300px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button09 {
  top: 225px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button10 {
  top: 150px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-loans {
  top: 150px;
  flex: 0 0 auto;
  left: 760px;
  width: 350px;
  height: 550px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #78a2cc;
}
.home-text09 {
  top: 50px;
  color: #35455d;
  right: 115px;
  bottom: 50px;
  height: 50px;
  position: absolute;
  font-size: 40px;
  align-self: center;
}
.home-button11 {
  top: 300px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button12 {
  top: 225px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.home-button13 {
  top: 150px;
  left: 25px;
  color: #35455d;
  width: 300px;
  height: 50px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
