#sidebar{
    min-height: 100vh;
    height: auto;
    padding-left: 20px;
  }
  #content {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-right: 85px;
  }
  #f{
    width: 75%;
    height: max-content;
  }
  #f select{
   width: 89%;
  }
  footer {
    flex-shrink: 0;
    background-color: #223656;
  }
  #footerRow {
    display: flex;
    margin-left: 20px;
    /* gap: -60px; */
    /* font-size: 12px; */
    padding-top: 10px;
    justify-content: space-around;
  }
  #third-party{
    display: none;
  }
  #nameThird{
     margin-left: 5.5%;
  }
  #errorMessage{
   color: rgba(145, 5, 5, 0.695);
   display: none;
   font-weight: bold;
}
.toast-header{
 color:#ffff;
 background-color: #fa824c;
}
.toast{
 color:#ffff;
 background-color: #fa824c;
}